<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
	<link rel="stylesheet" th:href="@{/css/main.css}">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Créer un Species</title>
</head>

<body>
	<div class="content">
	<h1>Nouvelle personne</h1>
	<form th:object="${create_person}" th:action="@{/persons/new}" method="post">
		<input type="hidden" th:field="*{id}" />
		<div class="field">
			<label for="firstname">Prénom : </label>
			<input type="text" th:field="*{firstname}" id="firstname" />
		</div>
		<span class="error-msg" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></span>
		<div class="field">
			<label for="lastname">Nom :</label>
			<input type="text" th:field="*{lastname}" id="lastname" />
		</div>
		<span class="error-msg" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></span>
		<div class="field">
			<label for="age">Age :</label>
			<input type="number" th:field="*{age}" id="age" />
		</div>
		<span class="error-msg" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>
		<div class="form-buttons">
			<input type="submit" class="b-save" value="Sauver" />
			<input type="button" class="b-back" value="Retour" onclick="window.location='/persons'" />
		</div>
		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">
				
			</p>
		</div>
	</form>
</div>
</body>

</html>