<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
	<link rel="stylesheet" th:href="@{/css/main.css}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des personnes</title>
</head>
<body>
	<nav>
		<ul>
			<li><a th:href="@{'/species'}">Especes</a></li>
			<li><a th:href="@{'/animals'}">Animaux</a></li>
			<li><a th:href="@{'/persons'}">Personnes</a></li>
		</ul>
	</nav>
	<div class="content">
		<div class="buttons">
	<input type="button" id="b-create" value="Creer une personne" onclick="window.location='/persons/create'" />
	<input type="button" id="b-random" value="Generer 15 personnes" onclick="window.location='/persons/random'" />
	<input type="button" id="b-delete" value="Supprimer les personnes sans animal" onclick="window.location='/persons/clear'" />
</div>
<div class="lists">
	<table>
		<thead>
			<th></th>
			<th></th>
			<th>ID</th>
			<th>Prenom</th>
			<th>Nom</th>
			<th>Age</th>
		</thead>
		<tbody>
			<tr th:each="personItem : ${list_persons}">
				<td class="td-delete"><a th:href="@{'/persons/delete/' + ${personItem.id}}" onclick="return confirm('Confirmer la suppression ?')">Delete</a></td>
				<td class="td-update"><a th:href="@{'/persons/' + ${personItem.id}}">Update</a></td>
				<td th:text="${personItem.id}"></td>
				<td th:text="${personItem.firstname}"/>
				<td th:text="${personItem.lastname}"/>
				<td th:text="${personItem.age}"/>
			</tr>
		</tbody>
	</table>
</div>
</div>
</body>
</html>