<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update de Species</title>
</head>
<body>
	<h1>Modification de l'espèce [ID <span th:text="${update_species.id}"></span>]</h1>
	<form th:object="${update_species}" th:action="@{/species}" method="post">
		<input type="hidden" th:field="*{id}" />
		<div>
			<label for="commonName">Nom Commun : </label>
			<input type="text" th:field="*{commonName}" th:value="${update_species.commonName}" id="commonName" />
		</div>
		<div>
			<label for="latinName">Nom latin :</label>
			<input type="text" th:field="*{latinName}" th:value="${update_species.latinName}" id="latinName" />
		</div>
		<div>
			<input type="submit" class="button" value="Sauver" />
			<input type="button" class="button" value="Retour" onclick="window.location='/species'" />
		</div>
	</form>
</body>
</html>